<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Health AI Agent</title>
</head>

<body>

    <h1>Health AI Agent</h1>

    <form action="/predict" method="post">
        <input type="text" name="age" placeholder="Age"><br><br>
        <input type="text" name="bmi" placeholder="BMI"><br><br>
        <input type="text" name="bp" placeholder="Blood Pressure"><br><br>

        <button type="submit">Analyze</button>
    </form>

    {% if prediction_text %}
        <h2>{{ prediction_text }}</h2>
    {% endif %}

    <h3>✨ Developed with ❤️ by Goury Surendran ✨</h3>

</body>
</html>